<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PROvo Analytics | BYU Basketball Data</title>

  <!-- Main CSS -->
  <link rel="stylesheet" href="css/style.css" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="assets/charts/byu.png" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


  <!-- Optional JS for nav, charts, etc. -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js" defer></script>
  <script src="/assets/js/scripts.js" defer></script>
  <script src="assets/js/layout.js" defer></script>
</head>
<body style="background-color: var(--byu-white); color: var(--byu-navy);">
<!-- header -->
{% include nav.html %}

<!-- content -->
<main class="py-5"></main>
    <div class="container">
      <h1>Example Page</h1>
      <p>This is where the unique content for this page lives.</p>
    </div>
  </main>

  <!-- Shared Footer -->
  {% include footer.html %}


</body>
</html>