<!-- footer -->
<footer id="about" class="py-5" style="background-color: var(--byu-navy); color: var(--byu-white);">
    <div class="container text-center">
      <h2 class="mb-3">About This Project</h2>
      <p>
        <strong>PROvo Analytics</strong> is my passion project dealing with all things BYU Men’s Basketball. 
        I've been a fan my whole life, and now I have the skills to learn more through data exploration!
        </p>
      <p class="text-muted mb-4">
        This website is <strong style="color: var(--bs-red);">NOT an official site of BYU Athletics or BYU</strong>.  
        It is an independent academic and creative analytics project.
      </p>
  
      <!-- Socials -->
      <ul class="list-inline mb-3">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/levihenstrom/" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x" style="color: var(--byu-white); opacity: 0.2;"></i>
              <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <!-- Github link
        <li class="list-inline-item">
          <a href="https://github.com/levihenstrom" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x" style="color: var(--byu-white); opacity: 0.2;"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li> -->
        <li class="list-inline-item">
          <a href="https://www.instagram.com/levihenstrom/" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x" style="color: var(--byu-white); opacity: 0.2;"></i>
              <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
  
      <!-- Signature -->
      <div class="container text-center">
        <small>2025 PROvo Analytics · Built by Levi Henstrom, Go Cougs!</small>
      </div>
    </div>
  </footer>